# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Basic-StateMachine.iml
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\devby\Unity Projects\Basic-StateMachine\.idea\.idea.Basic-StateMachine\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
